@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&display=swap");

/* Apply global font family */
body,
html,
* {
  font-family: "Epilogue", sans-serif !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .scroll-bar-hidden::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .scroll-bar-hidden {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}
